.section {
    display: flex;
    background-color: var(--background-color);
    color: var(--color);
    margin-right: 1rem;
    padding: .5rem;
    position: relative;
    border-radius: 10px;
}

.section:not(:last-of-type) {
    margin-bottom: .5rem;
}

.section:not(:first-of-type) {
    margin-top: .5rem;
}

.section * {
    margin: 0;
}

.section figure {
    width: calc(100% - 24px);
    display: flex;
    align-items: center;
}

.section img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.section figcaption {
    width: calc(100% - 4rem);
}

.section figcaption>div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section figcaption>div:first-of-type>h5 {
    margin: 0 1rem;
}

.section figcaption>div:last-of-type {
    margin-top: .25rem;
}

@media only screen and (max-width: 550px) {
    .section figure {
        width: 100%;
        flex-direction: column;
    }

    .section figcaption {
        width: 100%;
    }

    .section>div:last-of-type {
        position: absolute;
        right: .5rem;
    }
}

.tracks {
    width: max-content;
}

.tracks-container {
    display: flex;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
}

.right-arrow {
    transform: rotate(180deg);
}

.tracks-screen {
    width: calc(100% - 48px);
    overflow-x: hidden;
}