.app {
    text-align: center;
    background-color: var(--background-color-app);
    color: var(--color);
}

.app footer {
    padding: 1rem;
}

.app footer * {
    margin: 0;
}

.main {
    margin-top: 6rem;
}

.main>div{
    margin: 0 2rem;
}

.main>div+div {
    margin-top: 2rem;
}

@media only screen and (max-width: 700px) {
    .main>div{
        margin: 0 1rem;
    }
}