.container * {margin: 0;}

.container {
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
}

.image {
    --top: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: bgImg 15s infinite alternate ease-in-out;
}

.image > img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tracks {
    padding: 0 1rem;
}

@keyframes bgImg {
    to {
        top: var(--top);
    }
}

.content {
    position: relative;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.586);
    color: white;
    /* filter: invert(.786); */
    height: 35vh;
}