.container {
    background-color: var(--background-color);
    color: var(--color);
    border: 3px var(--border-color) solid;
    border-radius: 10px;
    padding: 1rem;
}

.search>* {
    height: max-content;
}

.search {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 45rem;
    margin: auto;
    gap: 1rem;
}

.search > select {
    margin-left: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 8rem;
}

.filters-container {
    --height: 0;
    overflow: hidden;
    transition: all;
    transition-duration: .5s;
    height: var(--height);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters>* {
    margin: .5rem;
    display: inline-block;
    width: max-content;
}

.filters input {
    margin-left: .5rem;
}

.filters-down {
    height: var(--height);
}