.search {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 45rem;
    margin: auto;
}

.search > * {
    height: max-content;
}

.buttons {
    display: flex;
}

.buttons button {
    background-color: midnightblue;
    font-size: 1.15rem;
    font-weight: 700;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}

.buttons button:hover {
    filter:saturate(2);
}

.search > *, .buttons > * {
    margin: .5rem;
}

.filters-btn * {
    pointer-events: none;
}

.filters-container {
    --height: 0;
    overflow: hidden;
    transition: all;
    transition-duration: .5s;
    height: var(--height);

}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters > * {
    margin: .5rem;
    display: inline-block;
    width: max-content;
}

.filters-down {
    height: var(--height);
}
