.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.871) !important;
    color: white !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.form {
    margin: auto;
    min-width: 300px;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--background-color);
}

.container input, .container textarea {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 100%;
}

.warning {
    display: flex;
    justify-content: center;
    background-color: midnightblue;
    border-radius: 10px;
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
}

.warning .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    transition: all .5s;
    margin-right: 1rem !important;
    -webkit-mask: url('../svg/warning.svg') no-repeat center / contain;
    mask: url('../svg/warning.svg') no-repeat center / contain;
    background-color: currentColor;
}